**
colores
amarillo:#ecb807;
azul:#1d809f;
**/

.fondo{
	margin-left: 10px;
	margin-bottom: 50px;
	background-image: url('img/bg-masthead.jpg');
 	width: 100%;
 	height: 500px;
 	background-size: 100% 100%;

 	}	

 .seccion1{
 	
 	font-family: 'Open Sans', sans-serif;
 	height: 300px;
 	margin-top: 10px;

 }

 h2{
 	font-size: 30pt;
 	font-style: bold;
 	text-align: center;

 }

 h4{
 	font-size: 12pt;
 	font-style: italic;
 	margin-top: 10px;
 	text-align: center;
 }

 h3{
 	margin-top: 100px;
 	text-align: center;
 	
 }
h5{
	text-align: center;
	margin-top: 50px;
	color: grey;
} 

h6{
	color:#ecb807;
	text-align: center;
	padding-top: 100px;
}
.txt1{
	text-align: center;
	margin-top: 10px;
	color: white;
	font-size: 20pt;
}
 
.txt2{
	text-align: center;
	margin-top: 50px;
	color: white;
}

 .boton1{
 	font-family:'Open Sans', sans-serif;
 	font-style: bold;
 	color: white;
 	font-size: 8pt;
 	width: 100px;
 	height:40px;
 	background-color:#1d809f;
 	border-radius: 10px;
 	margin-left: 400px;
 	margin-top: 30px;
 	;
 }

 .boton2{
 	font-family:'Open Sans', sans-serif;
 	font-style: bold;
 	color: white;
 	font-size: 8pt;
 	width: 100px;
 	height:40px;
 	background-color:grey;
 	border-radius: 10px;
 	margin-left: 400px;
 	margin-top: 30px;
 	margin-bottom: 50px
 }

 .seccion2{
 	background-color: #1d809f;
 }
 .col-3{

	text-align: center;
	font-size: 8pt;
	color: white;
	margin-bottom: 50px;
 }

 .material-icons{
 	margin-top: 60px;
 	margin-bottom: 10px;
 	background-color: white;
 	border-radius: 100px;
 	color:#1d809f;
 	width: 100px;
 	height: 100px;
 	text-align: center;
 	padding-top: 20px;

 }
